@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #d5e1ef;
}
.main-section {
    border: 5px solid #fff;
    margin-top:150px ;
    margin-left:600px ;
    margin-right: 600px;
    border-radius: 20px;
    background-color: #fff;
}
.main-img {
    height: 290px;
    border-radius: 20px;
    padding: 10px;
}
.main-p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 20px;
    color: black;
}
.main-p1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 15px;
}